.custom-input {
    position: relative;
}

.custom-input>.label {
    position: absolute;
    top: 50%;
    left: 16px;

    transform: translate(0, -50%);

    font-size: 14px;
}

.custom-input>.input {
    width: 100%;
    height: 100%;
}