#modal-supervisor-check {
    gap: 20px;
}

#modal-supervisor-check .title {

    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

#modal-supervisor-check .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

#modal-supervisor-check .content .compay-info {
    font-weight: 500;
}

#modal-supervisor-check .content .input-container {
    display: flex;
    align-items: center;

    position: relative;
}

#modal-supervisor-check .content .input-container label {
    position: absolute;
    left: 12px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    opacity: 0.6;
    font-size: 14px;
}

#modal-supervisor-check .content .input-container input {
    padding-left: 52px;
}

#modal-supervisor-check .buttons {
    display: flex;
    gap: 8px;
}

#modal-supervisor-check .buttons button:first-child {
    background-color: #fff;
    color: #3c388d;
    border: 1px solid #3c388d;
}

#modal-supervisor-check .buttons button:first-child:hover {
    background-color: #3c388d;
    color: #fff;
}