.login-form-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form-container .card .title {
    padding: 16px 0;
    text-align: center;
}

.login-form-container .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-container .card-body form
{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.login-form-container .form-group
{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    border: 1px solid rgb(106, 106, 106);
    border-radius: 2px;
}

.login-form-container .form-group:first-child {
    margin-top: 0;
}

.login-form-container .form-group {
    margin-top: 8px;
}

.form-group label {
    margin-left: 8px;

    opacity: 60%;

    position: absolute;
    z-index: 1;

    font-size: 14px;
}

.login-form-container .form-group .input {
    padding-left: 84px;

    position: relative;

    border: 0;
    border-radius: 2px;

    z-index: 0;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.login-form-container .submit-form {
    margin-top: 16px;

    padding: 12px 0;

    border: 0;

    background-color: #3c388d;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.login-form-container .form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    width: 100%;
}

.login-form-container .divider {
    margin: 12px 0px;
    text-align: center;
    width: 100%;
}

.login-form-container .register-btn {
    display: block;

    padding: 12px 0;
    border: 1px solid #3c388d;
    color: #3c388d;
    border-radius: 2px;

    background-color: #fff;

    text-decoration: none;

    width: 100%;
    text-align: center;
    font-weight: 400;
}

.login-form-container .register-btn:hover {
    background-color: #3c388d;
    color: white;
}

.login-form-container .error-message {
    font-size: 12px;
    color: red;
}